@page "/"
@using static tickets.Services.Teams.Queries.GetAllTeams
@inject IServiceManager serviceManager
@inject IMediator mediator
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

@if(teams is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <section class="px-5 mb-5">
        <h1 class="mb-3">Overview</h1>

        <section class="d-flex flex-row gap-3">
            <div class="dropdown">
                <button class="btn home-table-nav-button btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @ActiveTeam
                </button>
                <ul class="dropdown-menu dropdown-menu-pink">
                    @foreach(var team in teams.OrderBy(x => x.Name))
                    {
                        <li class="dropdown-item pointer" @onclick="@(() => UpdateDropdownTeam(team.Name))">@team.Name</li>
                    }
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn home-table-nav-button btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @SelectedStatus
                </button>
                <ul class="dropdown-menu dropdown-menu-pink">
                    @foreach(var status in Statuses)
                    {
                        <li class="dropdown-item pointer" @onclick="@(() => UpdateDropdownStatus(status))">@status</li>
                    }
                </ul>
            </div>
        </section>
    </section>
}

@code {
    private ICollection<TeamsResult>? teams;

    private string? ActiveTeam;

    private string? SelectedStatus;

    private ICollection<String> Statuses = ["Active", "Pending", "Closed"];

    protected override async Task OnInitializedAsync()
    {
        teams = await mediator.Send(new GetAllTeamsQuery());

        ActiveTeam = teams.FirstOrDefault(x => x.Name.Contains("#1")).Name;

        SelectedStatus = Statuses.FirstOrDefault(x => x.Contains("Active"));
    }

    private void UpdateDropdownTeam(string team)
    {
        ActiveTeam = team;
    }

    private void UpdateDropdownStatus(string status)
    {
        SelectedStatus = status;
    }
}
